<div class="searchBox" id="searchElastic">
  <input id="searchBox" type="text" (focus) ="isActive = true" (focusout) ="isActive = false"   placeholder="{{placeHolder}}" 
    (keydown.arrowdown) = "downArrowEvent($event);" 
    (keydown.esc) = "hideSearchResults();" 
    (keydown.arrowup) = "upArrowEvent($event);"
    (keydown.enter) = "enterKeyEvent();"
    [(ngModel)]="searchText" (ngModelChange)="getElasticResult()"/> 
  <a  class="searchButton" >
    <i *ngIf = "searchText == ''" class="fa fa-search"></i>
    <i *ngIf = "searchText != ''" class="fa fa-times" (click) ="emitSelectedObject(null);"></i>
  </a>
  <div class="sb-seachresults" *ngIf = "isActive" >
    <ul id="searchList" class="sb-results-dropdown-menu" [ngStyle]="{
      'color': options.theme,'width': options.width,'border-left-color': options.theme,'border-right-color': options.theme}" >      
      <li  class="search-result-item" *ngFor="let result of results"
        (click)="emitSelectedObject(result.value)" 
        [ngStyle]="{'color': options.theme,'font-size': options.fontSize}">
        <span [innerHTML]="result.label"></span>
      </li>
    </ul> 
  </div>  
</div>
